@param: #000;

body {
    .mixinName();
}

.mixinName(@color: #ccc) {
    background: @color;
}

.giveWidthHeightBG(@width, @height, @bg) {
    width: @width;
    height: @height;
    background: @bg;
}

.box-1 {
    .giveWidthHeightBG(100%, 300px, orange);
    padding: 30px;
    box-sizing: border-box;

    &.danger {
        background: red;
    }
// .box-1 > div
    & div {
        width: 300px;
        height: 30px;
        margin: 0 0 10px 0;
        background: cyan;
    }

    .child-box-1 {
        .giveWidthHeightBG(100%, 50px, #c1c1c1);

        &.danger {
            background: #000;
        }
    }
}
.percentage(@size, @total-size: 1024px){
    width: percentage(@size/@total-size);
}

@width: 50px;
body,
html {
    height: 100%;
}
@receivedParam: 50px;
.calcHeight(@size, @total-size) {
    @receivedParam: percentage(@size/@total-size);
}

.calcVw(@size, @size-2, @total-size) {
    @vw-context: (@total-size*.01) * 1px;
    @vw: (@size/@vw-context) * 1vw;
    @vw2: (@size-2/@vw-context) * 1vw;
}
.col-1 {
    display: block;

    .calcVw(1268px, 100px, 1268px);
    font-size: @vw2;
    width: @vw;
    .calcHeight(300px, 800px);
    height: @receivedParam;
    background: cyan;
}